    * {
        margin: 0;
        padding: 0;
        display: flex;
    }
    
    title {
        background-color: transparent;
        color: transparent;
    }
    
    .fondo {
        background-color: #e7e7e7;
        display: flex;
        position: absolute;
        width: 100%;
        height: 100%;
        margin: 0 auto;
        justify-content: center;
        text-align: center;
        flex-direction: column;
    }
    
    .cont {
        width: 90%;
        height: 100px;
        background-color: rgba(0, 0, 0, 0.64);
        text-align: center;
        margin: 14px auto;
        justify-content: center;
        align-items: center;
        display: flex;
        background-image: url(../img/bck.png);
        background-repeat: no-repeat;
        background-size: cover;
    }
    
    .conT {
        width: 100%;
        height: 100px;
        background-color: transparent;
        text-align: center;
        margin: 14px auto;
        justify-content: center;
        align-items: center;
        display: flex;
    }
    
    .cont h1 {
        color: white;
        box-shadow: 0 2px rgba(8, 139, 244, 0.8);
    }
    
    .light-mode {
        width: 40px;
        height: 40px;
        position: absolute;
        z-index: 2px;
        right: 78px;
        top: 55px;
        background-color: rgba(255, 255, 255, 0.1);
        backdrop-filter: blur(1px);
        border-radius: 50%;
        margin: 0 auto;
        justify-content: center;
        align-items: center;
        text-align: center;
        display: flex;
        cursor: pointer;
    }
    
    .dark-mode {
        width: 0;
        height: 0;
    }
    
    .light-mode .moon {
        width: 30px;
    }
    
    .dark-mode .sun {
        width: 30px;
    }
    
    .contenido {
        background-color: rgba(2, 25, 27, 0.74);
        backdrop-filter: blur(10px);
        width: 90%;
        height: calc(100% - 100px - 54px);
        display: flex;
        justify-content: center;
        text-align: center;
        margin: 0 auto;
        overflow: scroll;
        flex-direction: column;
    }
    
     ::-webkit-scrollbar,
     ::-webkit-scrollbar-button,
     ::-webkit-scrollbar-corner,
     ::-webkit-scrollbar-thumb,
     ::-webkit-scrollbar-track,
     ::-webkit-scrollbar-track-piece {
        background-color: transparent;
        color: transparent;
        width: 1px;
        height: 10px;
    }
    
    .contain {
        background: linear-gradient(90deg, rgba(2, 0, 36, 0.4) 0%, rgba(9, 9, 121, 0.4) 35%, rgba(0, 212, 255, 0.4) 100%);
        width: 90%;
        height: 100px;
        text-align: center;
        display: flex;
        margin: 14px auto;
        justify-content: center;
        align-items: center;
        font-size: 26px;
    }
    
    .contain p {
        color: white;
    }
    
    .container {
        width: 90%;
        height: calc(100% - 100px);
        background-color: rgba(3, 29, 65, 0.229);
        margin: 0 auto;
        display: flex;
        overflow: scroll;
    }
    /* modo active   */
    
    .fondo:active .conT {
        background-color: rgba(255, 255, 255, 0.2);
    }
    
    .fondo:active .light-mode {
        width: 0;
        height: 0;
        position: absolute;
        z-index: 0;
        right: 0;
        top: 0;
        background-color: transparent;
        backdrop-filter: blur(0);
        border-radius: 0;
        margin: 0 auto;
        justify-content: center;
        align-items: center;
        text-align: center;
        display: flex;
        cursor: pointer;
    }
    
    .fondo:active .moon {
        width: 0;
    }
    
    .fondo:active .sun {
        width: 30px;
    }
    
    .fondo:active .dark-mode {
        width: 40px;
        height: 40px;
        position: absolute;
        z-index: 2px;
        right: 78px;
        top: 55px;
        background-color: rgba(236, 213, 14, 0.129);
        backdrop-filter: blur(1px);
        border-radius: 50%;
        margin: 0 auto;
        justify-content: center;
        align-items: center;
        text-align: center;
        display: flex;
        cursor: pointer;
    }
    
    .fondo:active .contenido {
        background-color: rgba(108, 212, 222, 0.38);
    }
    
    .fondo:active {
        background-color: rgba(0, 0, 0, 0.76);
    }
    
    .fondo:active .container {
        background-color: rgba(108, 212, 222, 0.82);
    }
    /* fin mood active */